<div class="media">
  {% if include.post.twitter_image %}
    {% responsive_image_block %}
      path: {{ include.post.twitter_image }}
      alt: {{ include.post.summary }}
      {% if include.post.title %}
      title: {{ include.post.title }}
      {% endif %}
      class: mr-3 col-3 pl-0
    {% endresponsive_image_block %}
  {% endif %}
  <div class="media-body">
    <div class="clearfix">
      <h3 class="headline"><a class="post-link" href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
      <div class="date"><code>{{ include.post.date | date: "%b %-d, %Y" }}</code></div>
    </div>
    <div>
      {% if include.post.excerpt %}
        {{ include.post.excerpt | strip_html | strip_newlines | truncate: 160 }}
      {% else %}
        {{ include.post.content | truncatewords: 50 | strip_html }}
      {% endif %}
    </div>
    <div class="smaller">
      {% for tag in include.post.tags %}
        <small><a href="/{{ tag | append: ".html"}}"><code>{{tag}}</code></a>{% unless forloop.last %}, {% endunless%}</small>
      {% endfor %}
    </div>
  </div>
</div>
