<div class="chart sidebar">
  {% assign outlook = site.posts | where: "slug", "south-florida-covid19-outlook" | first %}

  <div class="headline">
  <h2><a class="post-link" href="{{ outlook.url }}">South Florida COVID-19 Outlook</a></h2>
  </div>

  <div class="chart panel">
    <div class="headline">
      <div class="meta">
      <h4>Miami Metropolitan Area</h4>
      Daily New Confirmed Cases
      </div>
    </div>
    <div class="banner">
      {% include current_chart.html
        chart_type="daily-new-confirmed-covid19-cases"
        area="/miami-metropolitan-area/"
        href="/south-florida-covid19-outlook.html" %}
      <p>The second wave of the outbreak is now clearly visible in the daily
        new confirmed case counts.</p>
      <p>The <a href="https://en.wikipedia.org/wiki/Miami_metropolitan_area"
        target="wikipedia">Miami metropolitan area</a> includes the urban areas
        in South Florida, and ranges from Homestead to West Palm Beach.</p>
    </div>
  </div>

  <div class="chart panel">
    <div class="headline">
      <div class="meta">
      <h4>Miami Metropolitan Area vs The Rest of Florida</h4>
      Daily New Confirmed Case Counts
      </div>
    </div>
    <div class="banner">
      {% include current_chart.html
        chart_type="daily-new-confirmed-covid19-cases"
        area="/miami-metropolitan-area-vs-rest-of-florida/"
        href="/south-florida-covid19-outlook.html" %}
      <p>The first wave hit the Miami metropolitan area hard, but now there
        are more cases in the rest of Florida.</p>
    </div>
  </div>

  <div class="chart panel">
    <div class="headline">
      <div class="meta">
      <h4>Miami & Miami Beach</h4>
      Daily New Confirmed Case Counts
      </div>
    </div>
    <div class="banner">
      {% include current_chart.html
        chart_type="daily-new-confirmed-covid19-cases"
        area="/miami-and-miami-beach/"
        href="/south-florida-covid19-outlook.html" %}
    </div>
  </div>

  <div class="chart panel">
    <div class="headline">
      <div class="meta">
      <h4>Florida, Outside of South Florida</h4>
      Daily New Confirmed Cases
      </div>
    </div>
    <div class="banner">
      {% include current_chart.html
        chart_type="daily-new-confirmed-covid19-cases"
        area="/rest-of-florida/"
        href="/south-florida-covid19-outlook.html" %}
      <p>This chart shows all new cases with a city identified, where the city
        is outside of the Miami metropolitan area.</p>
    </div>
  </div>

</div>
