<div class="panel">
  {% if include.post.twitter_image %}
    <div class="image">
      <a class="post-link" href="{{ include.post.url }}">
        {% responsive_image_block %}
          path: {{ include.post.twitter_image }}
          alt: {{ include.post.summary }}
          {% if include.post.title %}
          title: {{ include.post.title }}
          {% endif %}
        {% endresponsive_image_block %}
      </a>
    </div>
  {% endif %}
  {% if include.post.banner_image %}
    <div class="banner">
      <a class="post-link" href="{{ include.post.url }}">
        {% responsive_image_block %}
          path: {{ include.post.banner_image }}
          alt: {{ include.post.summary }}
          {% if include.post.title %}
          title: {{ include.post.title }}
          {% endif %}
        {% endresponsive_image_block %}
      </a>
    </div>
  {% endif %}

  <div class="headline">
    <div class="meta">
      <h3><a class="post-link" href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
      <div class="date"><code>{{ include.post.date | date: "%b %-d, %Y" }}</code></div>
    </div>
    <div>
      {% if include.post.excerpt %}
        {{ include.post.excerpt | strip_html | strip_newlines | truncate: 160 }}
      {% else %}
        {{ include.post.content | truncatewords: 50 | strip_html }}
      {% endif %}
    </div>
    <div class="smaller">
      {% for tag in include.post.tags %}
        <small><a href="/{{ tag | append: ".html"}}"><code>{{tag}}</code></a>{% unless forloop.last %}, {% endunless%}</small>
      {% endfor %}
    </div>
  </div>
</div>
