{% if include.alternate_width %}
  {% assign alternate_width = include.alternate_width %}
{% else %}
  {% assign alternate_width = 'xs' %}
{% endif %}

{% if include.type %}
<div class="panel {{ include.type }}">
{% else %}
<div class="panel">
{% endif %}
  {% if include.post.image_1_1 %}
    <div class="banner">
      <a class="post-link" href="{{ include.post.url }}">
        {% if include.type == "main_feature" %}
          {% picture headline_banner {{ include.post.image_16_5 }} --alt="{{ page.title }}" --img class="img-fluid" %}
        {% elsif include.type == "two_up_vertical" %}
          {% picture headline_banner {{ include.post.image_16_9 }} l: {{ include.post.image_1_1 }} --alt="{{ page.title }}" --img class="img-fluid" %}
        {% elsif include.type == "compact" %}
          {% picture headline_banner {{ include.post.image_16_5 }} s: {{ include.post.image_1_1 }} xs: {{ include.post.image_16_9 }} --alt="{{ page.title }}" --img class="img-fluid" %}
        {% else %}
          {% picture headline_banner {{ include.post.image_1_1 }} {{alternate_width}}: {{ include.post.image_16_5 }} --alt="{{ page.title }}" --img class="img-fluid" %}
        {% endif %}
      </a>
    </div>
  {% endif %}

  <div class="headline">
    <div class="meta">
      <h2><a class="post-link" href="{{ include.post.url }}">{{ include.post.title }}</a></h2>
      <div class="date"><code>
        {% if include.post.date %}
          {{ include.post.date | date: "%b %-d, %Y" }}
        {% else %}
          {{ include.post.last_modified_at | date: "%b %-d, %Y" }}
        {% endif %}
      </code></div>
    </div>
    <div>
      {{ include.post.summary | default: include.post.excerpt | include.post.content }}
    </div>
    <div class="smaller">
      {% for tag in include.post.tags %}
        <small><a href="/{{ tag | append: ".html"}}"><code>{{tag}}</code></a>{% unless forloop.last %}, {% endunless%}</small>
      {% endfor %}
    </div>
  </div>
</div>
