---
title: Current SARS-CoV-2 Infection Percentage Projection Charts
sidebar: home_sidebar
permalink: /visualizations/projected-percentage-of-sarscov2-infections/current.html
folder: Charts
toc: false
show_meta: false
---

Here are the latest projection charts for percentage of the population infected
with SARS-CoV-2 that I have published for different areas that I'm tracking.

<a href="older.html">Older versions</a> are also available.

<center>
  {% include current_chart.html chart_type="projected-percentage-of-sarscov2-infections" area="/miami-beach/" %}

  {% include current_chart.html chart_type="projected-percentage-of-sarscov2-infections" area="/miami/" %}

  {% include current_chart.html chart_type="projected-percentage-of-sarscov2-infections" area="/florida/" %}
</center>
