---
title: Current Estimated Number of SARS-CoV-2 Infections Charts
sidebar: home_sidebar
permalink: /products/estimated-number-of-sarscov2-infections/current.html
folder: Estimated Infections
toc: false
---

Here are the latest confirmed cases charts that I have published for different areas that I'm tracking.

<a href="older.html">Older versions</a> are also available.

<center>
{% include current_estimated-number-of-sarscov2-infections.html area="/miami-beach/" %}

{% include current_estimated-number-of-sarscov2-infections.html area="/miami/" %}

{% include current_estimated-number-of-sarscov2-infections.html area="/florida/" %}
</center>
