---
title: Doubling Time in Current Number of Confirmed COVID-19 Cases Charts
sidebar: home_sidebar
permalink: /visualizations/doubling-time-for-number-of-covid19-cases/current.html
folder: Charts
toc: false
show_meta: false
---

Here are the latest confirmed cases charts that I have published for different areas that I'm tracking.

<a href="older.html">Older versions</a> are also available.

<center>
  {% include current_chart.html chart_type="doublingtimefornumberofcovid19cases" area="/miami-beach/" %}

  {% include current_chart.html chart_type="doublingtimefornumberofcovid19cases" area="/miami/" %}

  {% include current_chart.html chart_type="doublingtimefornumberofcovid19cases" area="/florida/" %}
</center>
