---
title: Current SARS-CoV-2 Infection Percentage Projection Charts
sidebar: home_sidebar
permalink: /products/projected-percentage-of-sarscov2-infections/current.html
folder: Infection Percentage Projection
toc: false
---

Here are the latest projection charts for percentage of the population infected
with SARS-CoV-2 that I have published for different areas that I'm tracking.

<a href="older.html">Older versions</a> are also available.

<center>
{% include current_projected-percentage-of-sarscov2-infections.html area="/miami-beach/" %}

{% include current_projected-percentage-of-sarscov2-infections.html area="/miami/" %}

{% include current_projected-percentage-of-sarscov2-infections.html area="/florida/" %}
</center>
