---
---

@import 'bootstrap/bootstrap';

html,
body {
  height: 100%;
}

#main {
  flex: 1 0 auto;
  line-height: 200%;
}

#page-contents {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

article {
  flex: 1 100%;
}
.sidebar {
  flex: 1 100%;
  .panel {
    padding: 0 0 2rem 0;
    .headline {
      padding-right: $grid-gutter-width/2;
      .banner {
        order: 1;
      }
      .meta {
        order: 2;
      }
    }
  }
  .figure {
    width: 100%;
  }
}

@media (min-width: 768px) {
  article {
    flex: 3 65%;
    padding-right: $grid-gutter-width;
  }
  .sidebar {
    flex: 1 35%;
    font-size: 0.875rem;
    h2 {
      font-size: 1.375rem;
      margin: 0;
    }
  }
}

.headline {
  h2 {
    font-size: 1.375rem;
    line-height: smaller;
    margin: 0;
  }
  .date {
    font-size: smaller;
  }
  line-height: 1.5rem;
  p {
    margin: 0;
  }
}


.panel {
  // The purpose of this code is to reverse the order of the headline and banner.
  display: flex;
  flex-wrap: wrap;
  .banner {
    flex: 1 100%;
    order: 2;
  }
  .headline {
    flex: 1 100%;
    order: 1;
  }
}
@mixin vertical-panel {
  flex-wrap: wrap;
  .banner {
    flex: 1 100%;
    order: 1;
  }
  .headline {
    flex: 1 100%;
    height: 100%;
    order: 2;
    padding-left: 0;
    h3 {
      margin: 0.25rem 0 0 0;
    }
  }
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  .panel {
    flex: 2 100%;
    display: flex;
    margin-bottom: 2rem;

    .banner {
      flex: 1;
      order: 1;
      img {
        border: 1px solid $neutral;
        width: 100%;
      }
    }
    .headline {
      order: 2;
      flex: 3;
      padding-left: ($grid-gutter-width / 2);
      margin-top: 0;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
}
.sidebar {
  .banner {
    flex: 1;
    order: 2;
  }
  .headline {
    flex: 1;
    order: 1;
    padding-right: ($grid-gutter-width / 2);
    margin-top: 0.25rem;
  }
}

// For the fancy-pants panels in the news mosaic layouts.
.panel.main_feature {
    @include vertical-panel;
    h2 {
      font-size: 2rem;
    }
}
.panel.two_up_vertical {
    @include vertical-panel;
    flex: 1 50%;
}
.panel.two_up_vertical:nth-child(even) {
  padding-right: ($grid-gutter-width / 2);
}
.panel.two_up_vertical:nth-child(odd) {
  padding-left: ($grid-gutter-width / 2);
}

@media (max-width: 576px) {
  .post-list {
    .panel {
      @include vertical-panel;
    }
  }
  .sidebar {
    .panel {
      .headline {
        .banner {
          order: 2;
        }
        .meta {
          order: 1;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .sidebar {
    .panel {
      flex-wrap: wrap;
      .banner {
        flex: 1 100%;
        order: 1;
      }
      .headline {
        flex: 1 100%;
        padding-left: 0;
        order: 2;
      }
    }
  }
}

h1 {
  margin: 0.5ex 0 0.5ex 0;
  font-family: 'Oswald', sans-serif;
}
h2 {
  margin: 1.5ex 0 1ex 0;
  font-family: 'Oswald', sans-serif;
}
@media (max-width: 576px) {
  h2 {
    margin: 1ex 0 0.5ex 0;
  }
}

h3 {
  font-size: 1.375rem;
  margin: 1ex 0 1ex 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
@media (max-width: 576px) {
  h3 {
    margin: 0.5ex 0 0.25ex 0;
  }
}

h4 {
  font-size: 1.25rem;
  margin: 1ex 0 1ex 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
@media (max-width: 576px) {
  h4 {
    margin: 0.5ex 0 0.25ex 0;
  }
}

hr {
  color: $neutral;
  border-width: 8px;
  border-radius: 4px 4px 4px 4px;
}
.section-header {
  h2 {
    margin-bottom: 0;
  }
  hr {
    margin-top: 1ex;
  }
  margin-bottom: 2em;
}
hr.the-thin-black-line {
  border-width: 2px;
  border-radius: 2px 2px 2px 2px;
  margin: 1ex 0 1ex 0;
}

.post-header {
  position: relative;
  z-index: -1;
  line-height: 1rem;
  h1 {
    margin: 0 0 1rem 0;
  }
  img {
    border: 1px solid $neutral;
    width: 100%;
  }
}
.post-content {
  position: relative;
  z-index: 1;
}
.headline {
  margin-bottom: 0;
}

.see-also {
  width: 33%;
  margin-left: $grid-gutter-width/2;
}

#summary {
  font-size: 1.5rem;
  // padding: 1rem 0 1rem 0;
  .panel {
    font-size: $font-size-base;
  }
}

mark, .mark {
  padding: 0.2rem 0 0.2rem 0;
  border-radius: 8px;
}

#sticky-footer {
  flex-shrink: 0;
}

body {
  background-color: $paper;
}

// For the logo in the header and footer.
.navbar,
body > footer {
  .logo {
    a {
      color: $light;
    }
    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }
  }
  .logotype {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
  }
  code {
    color: $light;
    font-size: 80%;
    line-height: smaller;
  }
}
footer {
  margin-top: 2rem;
}
.navbar {
  .fa-lg {
    font-size: 2rem;
    vertical-align: -0.175rem;
  }
  .logotype {
    font-size: 1.5rem;
    line-height: .75rem;
  }
  .container {
    padding-right: 0;
  }
}
#search-input {
  background-color: $light;
}

// Other navbar / footer branding styling.
.navbar,
body > footer {
  a.nav-link {
    color: $light;
  }
  a {
    color: $light;
  }
  .dropdown-menu {
    a {
      color: $secondary;
    }
    a.active {
      color: $light;
      background-color: $secondary;
    }
  }
}
body > footer {
  color: $highlight;
  font-size: smaller;
  width: 100%;
}

/* search area */
#search-container {
  position: relative;
  a {
    color: $dark;
  }
}
#search-container {
  ul#results-container {
    list-style: none;
    font-size: $font-size-base * 0.9;
    background-color: $light;
    position: absolute;
    top: 2.7rem;
    right: 0px;
    z-index: 2;
    width: 400px;
    border-left: 1px solid #dedede;
    padding-inline-start: 0px;

    li {
      margin: 1em 2em 1em 2em;
    }
  }
}

ul#results-container a {
    background-color: transparent;
}

ul#results-container a:hover {
    color: black;
}

#search-container a:hover {
    color: black;
}
/* end search */

#page-contents .jekyll-twitter-plugin {
  margin: 2em 0 2em 0;
}

figure img {
  width: 100%;
}

#page-contents figure.inset img.img-responsive {
  margin: 0;
}

#page-contents figure {
  background: white;
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1rem;
  figcaption {
    margin-top: $grid-gutter-width/2;
  }
}
#page-contents .outlook,
#page-contents .sidebar {
  figure {
    background-color: $paper;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 576px) {
  #page-contents figure {
    background-color: $paper;
    width: 100%;
    padding: 1em 0 1em 0;
  }
}
@media (min-width: 577px) {
  #page-contents figure {
    width: 85%;
    padding: $grid-gutter-width/2;
  }
}
@media (min-width: 993px) {
  #page-contents figure {
    width: 65%;
    padding: $grid-gutter-width;
  }
}
@media (min-width: 1201px) {
  #page-contents figure {
    width: 75%;
    padding: $grid-gutter-width;
  }
}

#page-contents figure.inset {
  width: 25%;
  margin: 0 0 2em 2em;
}

.logo_background {
  background-color: #487db9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 15px;
}

#page-contents .logo_background img {
  margin: 0px;
  max-height: 200px;
}

ol.bibliography {
  padding-inline-start: 0px;
  li {
    list-style-type: none;
  }
}

.container .sub-image-jumbotron {
  padding: 1em;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.blockquote {
  margin: 1em;
  font-style: italic;

  footer {
    margin-top: 1ex;
    font-size: 0.75rem;
    color: gray;
  }
}

#mission.jumbotron {
  padding: 2em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#mission h2 {
  padding-top: 0;
  margin-top: 20px;
}
#mission p {
  margin-bottom: 2em;
}

p.external a {
    text-align:right;
    font-size:12px;
    color: #0088cc;
    display:inline;
}

/* this part adds an icon after external links, using FontAwesome*/
a[href^="http://"]:after, a[href^="https://"]:after {
    content: "\f08e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
    font-display: swap;
}

#draft-notice {
    position:absolute;
    z-index: 2;
    display:block;
    top: 18em;
    width:100%;
    pointer-events: none;
}
.overlay-text {
    color: lightgrey;
    opacity: 50%;
    font-size: 25.5vw;
    font-weight: 700;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
