---
title: Charts
sidebar: home_sidebar
permalink: charts.html
toc: false
show_meta: false
---

This page collects the most recent versions of each of the charts, for each
area that I'm tracking.

<h2>Confirmed COVID-19 Cases</h2>

<p>This chart shows the number of confirmed cases over time.  The confirmed case count data comes from the
<a href="https://www.floridadisaster.org/news-media/news/">daily updates</a>
from the Florida Division of Emergency Management.</p>

</p>Please see the <a href="/visualizations/number-of-covid19-cases">Confirmed COVID-19 Cases</a>
analysis product section for more information and archives of older versions.</p>

<center>
{% include current_chart.html chart_type="number-of-covid19-cases" area="/miami-beach/" %}

{% include current_chart.html chart_type="number-of-covid19-cases" area="/miami/" %}

{% include current_chart.html chart_type="number-of-covid19-cases" area="/florida/" %}
</center>

<h2>Percent Increase in Confirmed COVID-19 Cases</h2>

<p>This chart shows the daily increase in the
  confirmed COVID-19 cases for each day as a percentage.</p>

<p>
  Please see the
  <a href="/visualizations/percent-increase-in-number-of-covid19-cases/">Percent
    Increase in Number of Confirmed COVID-19 Cases</a> analysis product section
    for more information and archives of older versions.</p>

<center>
{% include current_chart.html chart_type="percent-increase-in-number-of-covid19-cases" area="/miami-beach/" %}

{% include current_chart.html chart_type="percent-increase-in-number-of-covid19-cases" area="/miami/" %}

{% include current_chart.html chart_type="percent-increase-in-number-of-covid19-cases" area="/florida/" %}
</center>

<h2>Doubling Time in Confirmed COVID-19 Cases</h2>

<p>This chart shows the number of days that it would take for the number of
  confirmed COVID-19 cases to double, at the current rate each day.</p>

<p>Please see the
  <a href="/visualizations/doubling-time-for-number-of-covid19-cases/l">Doubling
    Time in Number of Confirmed COVID-19 Cases</a> analysis product section for
    more information and archives of older versions.</p>

<center>
{% include current_chart.html chart_type="doubling-time-for-number-of-covid19-cases" area="/miami-beach/" %}

{% include current_chart.html chart_type="doubling-time-for-number-of-covid19-cases" area="/miami/" %}

{% include current_chart.html chart_type="doubling-time-for-number-of-covid19-cases" area="/florida/" %}
</center>

<h2>Estimated Number of SARS-CoV-2 Infections</h2>

<p>This chart shows a range of estimates for the number of SARS-CoV-2 infections,
  based on the number of confirmed COVID-19 cases.  The range shown in the chart is from
  <a href="https://cmmid.github.io/topics/covid19/severity/global_cfr_estimates.html">a
    study</a> estimating the number of infections relative to the number of
    reported cases from the Centre for Mathematical Modelling of Infectious
    Diseases at the London School of Hygiene & Tropical Medicine.  The
    estimated ranges for various countries are updated periodically, and I'm
    using the estimated range for the United States.  I update my charts
    whenever the estimated range is updated.</p>

    <p>Please see the
      <a href="/visualizations/estimated-number-of-sarscov2-infections/">Estimated
        Number of SARS-CoV-2 Infections</a> analysis product section for
        more information and archives of older versions.</p>

<center>
{% include current_chart.html chart_type="estimated-number-of-sarscov2-infections" area="/miami-beach/" %}

{% include current_chart.html chart_type="estimated-number-of-sarscov2-infections" area="/miami/" %}

{% include current_chart.html chart_type="estimated-number-of-sarscov2-infections" area="/florida/" %}
</center>

<h2>Estimated One-In-X SARS-CoV2 Infection Odds</h2>

What are the odds of any given person having been infected?

<center>
{% include current_chart.html chart_type="estimated-one-in-x-sarscov2-infection-odds" area="/miami-beach/" %}

{% include current_chart.html chart_type="estimated-one-in-x-sarscov2-infection-odds" area="/miami/" %}

{% include current_chart.html chart_type="estimated-one-in-x-sarscov2-infection-odds" area="/florida/" %}
</center>

<h2>SARS-CoV-2 Infection Percentage Projection</h2>

<p>Experts estimate the critical threshold for achieving
  <a href="/herd-immunity.html">herd protection</a>
  for COVID-19 is between 50% and 66%.  How long will it take to get there?</p>

<p>This chart uses the same technique as
  <a href="/visualizations/estimated-number-of-sarscov2-infections/">Estimated Number
    of SARS-CoV-2 Infections</a> to estimate the percentage of the population
    in the area that has been infected with SARS-CoV-2, based on the number
    of confirmed COVID-19 cases.</a></p>

<p>Please see the
  <a href="/visualizations/projected-percentage-of-sarscov2-infections/">Current
    SARS-CoV-2 Infection Percentage Projection Charts</a> analysis product section for
    more information and archives of older versions.</p>

<center>
{% include current_chart.html chart_type="projected-percentage-of-sarscov2-infections" area="/miami-beach/" %}

{% include current_chart.html chart_type="projected-percentage-of-sarscov2-infections" area="/miami/" %}

{% include current_chart.html chart_type="projected-percentage-of-sarscov2-infections" area="/florida/" %}
</center>

<!-- <h2>Dashboards</h2>

<p>The dashboard image is a bite-sized COVID-19 news nugget, designed for social
feeds and mobile messaging.  Please see the <a href="/visualizations/covid19-dashboard">COVID-19 Dashboard</a>
analysis product section for more information and archives of older versions.</p>

<center>
{% include current_chart.html chart_type="covid19-dashboard" area="/miami-beach/" %}

{% include current_chart.html chart_type="covid19-dashboard" area="/miami/" %}

{% include current_chart.html chart_type="covid19-dashboard" area="/florida/" %}
</center> -->
