---
title: Dashboard
sidebar: home_sidebar
permalink: dashboard.html
folder: Info
toc: false
show_meta: false
---

Here are the latest dashboards that I have published for different areas that I'm tracking.

Please see the
<a href="/products/covid19-dashboard/index.html">COVID-19 Dashboard</a> analysis
product section for an exaplanation of the metrics and citations to the data
and research that form the basis of the dashboard images.

{% include current_dashboard.html area="/miami-beach/" %}

<hr/>

{% include current_dashboard.html area="/miami/" %}

<hr/>

{% include current_dashboard.html area="/florida/" %}
