---
title: News
sidebar: home_sidebar
keywords: news, blog, updates, release notes, announcements
permalink: index.html
toc: false
folder: Info
show_meta: false
---

<div class="home">

    <div class="post-list">
      {% assign site_posts = site.posts | where_exp:"item", "item.category != 'citation'" %}
      {% for post in site_posts limit:10 %}

        {% include article_cell.html post=post %}

      {% endfor %}

      <p><a href="feed.xml" class="btn btn-primary navbar-btn cursorNorm" role="button">RSS Subscribe{{tag}}</a></p>

      <p>See more posts from the <a href="news_archive.html">News Archive</a>.</p>

    </div>
</div>
