---
layout: default
---

<header class="post-header">

  {% if page.show_meta != false %}
  <div class="small text-secondary clearfix">
    <div class="date float-left"><code>{{ page.last_modified_at | date: "%b %-d, %Y" }}</code></div>
    <div class="float-right">{{ page.author }}</div>
  </div>
  {% endif %}

  <div>
  {% if page.banner_image %}
    {% responsive_image_block %}
    path: {{ page.banner_image }}
    alt: {{ page.summary }}
    {% if page.title %}
    title: {{ page.title }}
    {% endif %}
    {% endresponsive_image_block %}
  {% endif %}
  </div>

  {% if page.show_title != false %}
  <div>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </div>
  {% endif %}

</header>

<div class="post-content" itemprop="articleBody">

  {% if page.summary %}
  <div id="summary"><p>{{page.summary}}</p></div>
  {% endif %}

  {{ content }}
</div>




{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}
