---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

    <header class="post-header">
        {% if page.banner_image %}
          {% responsive_image path: images/posts/imperial-college-16_5.png %}
        {% endif %}
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

        <div>{{ page.author }}</div>
        <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
        <span class="date last-modified"> last updated {{ page.last_modified_at | date: "%b %-d, %Y" }} </span>
        <div class="pull-right">
          {% for tag in page.tags %}
            <a href="/{{ tag | append: ".html"}}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}
          {% endfor %}
        </div>

    </header>

    <div class="post-content" itemprop="articleBody">

        {% if page.summary %}
        <div class="summary">{{page.summary}}</div>
        {% endif %}

        {{ content }}
    </div>



</article>

{% include footer.html %}
