---
layout: default
---

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

    <header class="post-header clearfix">

      <div class="small text-secondary clearfix">
        <div class="date float-left"><code>
          {% if page.slug == 'south-florida-covid19-outlook' %}
            {{ page.last_modified_at | date: "%A %b %-d, %Y" }}
          {% else %}
            {{ page.date | date: "%b %-d, %Y" }}
            updated {{ page.last_modified_at | date: "%A %b %-d, %Y" }}
          {% endif %}
        </code></div>
        <div class="float-right">{{ page.author }}</div>
      </div>

      {% if page.image_16_5 %}
        {% picture article_banner {{ page.image_16_5 }} xs: {{ page.image_1_1 }} --alt="{{ page.title }}" --img class="img-fluid" %}
      {% endif %}

      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

    </header>

    <div class="post-content" itemprop="articleBody">

        {% if page.excerpt %}
          {% if page.tags contains 'outlook' %}
            {{page.excerpt}}
          {% else %}
            <div id="summary">
                {{page.excerpt}}
            </div>
          {% endif %}
        {% endif %}

        {{ page.content | split: site.excerpt_separator | last }}

      </div>

    {% assign tags = page.tags %}
    {% if tags != empty %}
    <div>
      <h2>Tags</h2>
      <ul>
      {% for tag in tags %}
        <li><a href="/{{ tag | append: ".html"}}"><code>{{tag}}</code></a></li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% unless page.show_related == false %}
    <div class="post-list">
      <h2>Related</h2>
      {% for post in site.related_posts limit:3 %}
        {% if post.title != page.title %}
        {% include post_panel.html post=post %}
        {% endif %}
      {% endfor %}
    </div>
    {% endunless %}

</article>

{% if page.slug == 'south-florida-covid19-outlook' %}
  {% include resources_sidebar.html %}
{% else %}
  {% include outlook_sidebar.html %}
{% endif %}
