---
title: Estimated One-In-X SARS-CoV2 Infection Odds
sidebar: home_sidebar
permalink: /visualizations/estimated-one-in-x-sarscov2-infection-odds/index.html
folder: Charts
toc: false
show_meta: false
---

<center>
  {% include current_chart.html chart_type="current_estimated-number-of-sarscov2-infections" area="/miami-beach/" %}

  {% include current_chart.html chart_type="current_estimated-number-of-sarscov2-infections" area="/miami/" %}

  {% include current_chart.html chart_type="current_estimated-number-of-sarscov2-infections" area="/florida/" %}
</center>

<h2>Sources</h2>

The confirmed case count data comes from the
<a href="https://www.floridadisaster.org/news-media/news/">daily updates</a>
from the Florida Division of Emergency Management.

<h2>Current</h2>

Please see the <a href="/visualizations/estimated-number-of-sarscov2-infections/current.html">Current COVID-19 Dashboards</a> page for the latest dashboard
published for each area.
