---
title: Current Estimated Number of SARS-CoV-2 Infections Charts
sidebar: home_sidebar
permalink: /visualizations/estimated-number-of-sarscov2-infections/current.html
folder: Charts
toc: false
show_meta: false
---

Here are the latest confirmed cases charts that I have published for different areas that I'm tracking.

<a href="older.html">Older versions</a> are also available.

<center>
  {% include current_chart.html chart_type="current_estimated-number-of-sarscov2-infections" area="/miami-beach/" %}

  {% include current_chart.html chart_type="current_estimated-number-of-sarscov2-infections" area="/miami/" %}

  {% include current_chart.html chart_type="current_estimated-number-of-sarscov2-infections" area="/florida/" %}
</center>
